@model QuanLyLamNghiep.Models.DieuKhoanDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DieuKhoan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Khungphat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Khungphat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mucphat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mucphat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuongMucId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuongMucId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
