@model IEnumerable<QuanLyLamNghiep.Models.DieuKhoanDto>

@{
    ViewData["Title"] = "Danh sách điều khoản của chương";
}

<h1>Danh sách điều khoản theo chương </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Khungphat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mucphat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuongMucId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khungphat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mucphat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuongMucId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
