@model IEnumerable<QuanLyLamNghiep.Models.ChuongMuc>

@{
    ViewData["Title"] = "Danh sách chương mục";
}

<h1>Danh sách chương mục</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>|
                    <a asp-controller="Dieukhoans" asp-action="ListByChuongId" asp-route-id="@item.Id">Danh sách điều khoản</a>
                </td>
            </tr>
        }
    </tbody>
</table>
